<% include partials/header %>

<div class='ui main text container segment'>
    <div class='ui huge header'>
        <%= blog.title %>
    </div>    
    <div class='ui top attached'>
        <div class='item'>
            <img class='ui centered rounded image' src='<%= blog.image %>'>
        </div> 
        <div class='content'>
            <span><%= blog.dateCreated.toDateString() %></span>
        </div>
        <div class='description'>
            <p><%- blog.body %></p><!-- note we use %- not %=, because we want to send exactly
                                     the content of blog.body, not valid html string. for instance:
                                      if the blog.body is <em>haha</em>, by using '%-', we will send exactly
                                       the content, and the browser side will evaluate the <em> as a valid html
                                       tag, and we will see 'haha' being emphasized on the web page.
                                       However, if we instead use '%=', the EJS will transform '<' to '&lt;' and send it
                                       instead. When browser see this '&lt;', apperantly it's not a html tag, it's just a
                                         representation for the angle bracket '<', so will simply display a '<', and we will
                                         see '<em>haha</em>' as a whole on the web page-->
        </div>
        
        <a class='ui blue basic button' href='/blogs/<%= blog._id %>/edit'>Edit</a>
        <form id='deleteForm' class='ui form' action='/blogs/<%= blog._id %>?_method=delete' method='post'>
            <button class='ui red basic button' type='submit'>Delete</button>
        </form>
        <a href='/blogs'>Go Back</a>
        
    </div>
</div>

<% include partials/footer %>