<% include ../partials/header %>
    
    <div class='container'>
        <div class='row'>
            <h1 style='text-align: center'>Edit the landscape</h1>
            <div style='width: 50%; margin: 30px auto;'>
                <form action='/landscapes/<%= landscape._id %>?_method=put' method='post'>
                    <div class='form-group'>
                        <input class='form-control' type='text' name='landscape[name]' value='<%= landscape.name %>'>
                    </div>
                    <div class='form-group'>
                        <input class='form-control' type='text' name='landscape[image]' pattern="https?://.+" title='image url should start with "https://" or "http://"' value='<%= landscape.image %>'>
                    </div>
                    <div class='form-group'>
                        <textarea class='form-control' rows='5' name="landscape[description]"><%= landscape.description %>></textarea>
                    </div>
                    <div class='form-group'>
                        <input class='form-control' type='text' name='landscape[location]' id='location' value="<%= landscape.location %>">
                        <span id='validateAddr' class="btn btn-md btn-info">Validate the location</span>
                        <button id='submitWoAddr' class="btn btn-md btn-warning">Submit without the location</button>
                        <input type='text' name='landscape[lat]' id='lat' value='<%= landscape.lat %>' class="hidden">
                        <input type='text' name='landscape[lng]' id='Lng' value='<%= landscape.lng %>' class="hidden">
                    </div>
                    <div class='form-group'>
                        <button class='btn btn-lg btn-primary btn-block' type='submit'>Submit</button>
                    </div>
                </form>
                <a href='/landscapes/<%= landscape._id %>'>Go Back</a>
            </div>
            
        </div>
    </div>
    <script>
        function validateAddr() {
            document.querySelector('#validateAddr').addEventListener('click', function () {
                var address = document.querySelector('#location');
                var lat= document.querySelector('#lat');
                var lng = document.querySelector('#Lng');
                var addrValidateBtn = document.querySelector('#validateAddr');
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({'address': address.value, 'region': 'CN'}, function (results, status) {
                    if (status === google.maps.GeocoderStatus.OK) {
                        //inputString = address.value.split('(')[0];
                        address.value = results[0].formatted_address;
                        lat.value = results[0].geometry.location.lat();
                        lng.value = results[0].geometry.location.lng();
                        addrValidateBtn.classList.remove('bad-location');
                        addrValidateBtn.classList.add('good-location');
                        addrValidateBtn.innerHTML = 'Valid location!';
                    } else {
                        addrValidateBtn.classList.remove('good-location');
                        addrValidateBtn.classList.add('bad-location');
                        addrValidateBtn.innerHTML = 'Invalid location, try again';
                    }
                });
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= geoAPIKey %>&callback=validateAddr" async defer></script>
<% include ../partials/footer %>