<% include ../partials/header %>
<div class='container'>
    <div class='row'>
        <div class='col-md-3 col-sm-12'>
            <div>
                <ul class="nav nav-pills nav-stacked">
                    <% if (prevId !== 'none') { %>
                    <li role="presentation"><a href='/landscapes/<%= prevId %>'>Previous landscape </a></li>
                    <% } %>
                    <% if (nextId !== 'none') { %>
                    <li role="presentation"><a href='/landscapes/<%= nextId %>'>Next landscape </a></li>
                    <% } %>
                    <li role="presentation"><a href='/landscapes'>All landscapes</a></li>
                </ul>
                <!--
                <p class='lead'>Menu(under construction)</p>
                <div class='list-group'>
                    <li class='list-group-item active'>Info 1</li>
                    <li class='list-group-item'>Info 2</li>
                    <li class='list-group-item'>Info 3</li>
                </div>
                -->
            </div>
            <div>
                <h4>Location</h4>
                <div id="map"></div>
            </div>
        </div>
        <div class='col-md-9 col-sm-12'>
            <div class='thumbnail'>
                <img class='img-responsive' src='<%= landscape.image %>'>
                <div class='caption-full'>
                    <h4 class='pull-right'><em>Location: <%= landscape.location %></em></h4>
                    <h4><a><%= landscape.name %></a></h4>
                    <p><%= landscape.description %></p>
                    <p><em>Submitted By <%= landscape.author.username %></em></p>
                    <span id="lat" class="hidden"><%= landscape.lat %></span>
                    <span id="lng" class="hidden"><%= landscape.lng %></span>
                    <% if(currentUser && landscape.author.id.equals(currentUser._id)) { %>
                    <a class='btn btn-xs btn-warning' href='/landscapes/<%= landscape._id %>/edit'>Edit</a>
                    <form id='delete-form' action='/landscapes/<%= landscape._id %>?_method=delete' method='post'>
                        <button class='btn btn-xs btn-danger'>Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class='well'>
                <div class='pull-right'>
                    <a class='btn btn-success' href='/landscapes/<%= landscape._id %>/comments/new'>Add New Comment</a>
                </div>
                <hr>
                <% var i = 0; %>
                <% landscape.comments.forEach(function(comment) { %>
                    <div class='row'>
                        <div class='col-md-12'>
                            <strong><%= comment.author.username %></strong>
                            <span class='pull-right' id="daysAgo"><em><%= commentsElapsedDays[i] %></em></span>
                            <% i++; %>
                            <p id="commentP"><%= comment.text %></p>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <a class='btn btn-xs btn-warning' href='/landscapes/<%= landscape._id %>/comments/<%= comment._id %>/edit'>Edit</a>
                            <form id='delete-form' action='/landscapes/<%= landscape._id %>/comments/<%= comment._id %>?_method=delete' method='post'>
                                <input class='btn btn-xs btn-danger' type='submit' value='Delete'>
                            </form>
                            <% } %>
                            <hr id="commentHR">
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<script>
    function initMap() {
        var lat = Number(document.querySelector('#lat').innerHTML);
        var lng = Number(document.querySelector('#lng').innerHTML);
        if(!(lat===0 && lng===0)){
            var uluru = {lat: lat, lng: lng};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        } else {
            document.querySelector('#map').innerHTML = 'Oops! the uploader of this landscape did not provide a location'
        }
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= gMapAPIKey %>&callback=initMap">
</script>

<% include ../partials/footer %>